.table-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.sidebar-item,
.sidebar-header{
    text-align: left;
}

.fl-table {
    border-radius: 5px;
    font-size: .8rem;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: .85rem;
}

.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}

.btn-primary {
    background-color: #4FC3A1 ;
    border-color: #4FC3A1 ;
}

.page-link-new {
    background-color: #4FC3A1 ;
    border-color: #4FC3A1 ;
}
.btn-primary:active,
.btn-primary:focus,
.btn-primary:after,
.btn-primary:hover,
.btn-primary:disabled {
    background-color: #3B9178;
    border-color: #3B9178;
}

.btn_custom {
    padding-left: 15px;
}

.btn-custom:focus {
    box-shadow: none;
}

.tr-hover {
    color: #212529;
    background-color: rgba(0, 0, 0, 0.075);
}

#dt_queue_wrapper {
    width: 100%;
}

/* секундомер */
.timer_panel_nums {
    font-size: 2.8em;
    line-height: 1.2em;
}

/*учим браузер скрывать временно ненужные кнопки*/
.app_timer .timer_btn.hide,
.app_timer .timer_nums.hide,
.app_timer .timer_sep.hide {
    display: none;
}
/*Знак загрузки*/
.rot {
    animation: 1s linear 0s normal none infinite running rot;
    -webkit-animation: 1s linear 0s normal none infinite running rot;
    width: 48px;
}
@keyframes rot {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes rot {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* my - table */
.my-table {
    font-size: .9rem;
    width: 100%;
    max-width: 100%;
    border-radius: 5px;
    border-spacing: 0;
    text-align: center;
}

.my-table th {
    background: #3A8B86;
    color: white;
    text-shadow: 0 1px 1px #2D2020;
    padding: 10px 20px;
}

.my-table th:first-child {
    border-radius: 5px 0 0 5px;
}

.my-table th:last-child {
    border-radius: 0 5px 5px 0;
}

.my-table th, .my-table td {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #FFF;
}
.my-table .active td {
    border-bottom: 2px solid #36856e;
    border-top: 2px solid #36856e;
}

.my-table .active td:first-child {
    border-left: 2px solid #36856e;
}

.my-table .active td:last-child {
    border-right: 2px solid #36856e;
}

.my-table th:first-child,
.my-table td:first-child {
    text-align: left;
}

.my-table td {
    padding: 10px;
    background: #f1faf8;
}

.my-table td:first-child {
    border-radius: 5px 0 0 5px;
    border-right: none;
}

.my-table td:last-child {
    border-radius: 0 5px 5px 0;
    border-right: none;
}

div.dataTables_filter input {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid;
    outline-offset: 0;
    outline: 0;
    box-shadow: none!important;
}

.clear_input {
    border: none;
    background-color: inherit;
}
/* my - table */

.scrolling-wrapper{
    overflow-x: auto;
}

.btn-outline-success:focus {
    background-color: #28a745;
}
.btn-outline-active {
    background-color: #28a745;
}
